{% extends "base.html" %} {% block content %}
<!-- Subscribe Section -->
<section id="subscribe" class="subscribe section">
  <div class="container" data-aos="fade-up" data-aos-delay="100">
    <div class="row gy-4 justify-content-between align-items-center">
      <div class="col-lg-6">
        <div class="cta-content" data-aos="fade-up" data-aos-delay="200">
          <h2>Cek Sentimen Analisis</h2>
          <p>
            Silahkan masukkan kata atau kalimat untuk mengetahui sentimen apakah
            termasuk Bulliying atau Non-Bulliying
          </p>
          <form
            action="/analyze_sentiment"
            method="post"
            class="cta-form"
            enctype="multipart/form-data"
          >
            <div class="input-group mb-3">
              <input type="analisis" class="form-control" name="text" required />
              <button class="btn btn-primary" type="submit">Analisis</button>
            </div>
          </form>
        </div>

        <ul>
          {% for text, sentiment in results %}

          <li>
            <strong>Teks :</strong> {{ text }}<br />

            {% if sentiment == 0 %}
            <strong>Sentimen : Bulliying</strong>
            {% else %}
            <strong>Sentimen : Non-Bulliying</strong>
            {% endif %}
          </li>
          {% endfor %}
        </ul>
      </div>
      <div class="col-lg-4">
        <div class="cta-image" data-aos="zoom-out" data-aos-delay="200">
          <img
            src="{{ url_for('static', filename='img/cta/cta-1.webp') }}"
            alt=""
            class="img-fluid"
          />
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /Subscribe Section -->
{% endblock%}
